<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.applicationbanque">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MY BANQUE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationBanque">


        <activity
            android:name=".MainActivity"
            android:label="login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="register"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".Summary"
            android:label="summary"
            android:exported="true" />

    </application>

</manifest>